{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-4 mb-3">
    <div class="card h-100">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Firewall IP Sets</h5>
        <p class="card-text">Manage IP sets and CIDR entries.</p>
        <a href="{{ url_for('ipsets_index') }}" class="mt-auto btn btn-primary">Manage</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card h-100">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">PVE Settings</h5>
        <p class="card-text">Configure Proxmox VE connection parameters.</p>
        <a href="{{ url_for('settings_pve') }}" class="mt-auto btn btn-primary">Configure</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card h-100">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Tencent Cloud</h5>
        <p class="card-text">Set Tencent Cloud credentials.</p>
        <a href="{{ url_for('settings_tencent') }}" class="mt-auto btn btn-primary">Configure</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
